@font-face {
  font-family: "e-Ukraine";
  src: url("font/e-Ukraine-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("font/e-Ukraine-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("font/e-Ukraine-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("font/e-Ukraine-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("font/e-Ukraine-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("font/e-Ukraine-UltraLight.otf");
  font-weight: 100;
}

body {
  font-family: "e-Ukraine", sans-serif;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background_app.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#logo img {
  height: 50px;
}
/* Navbar */

header {
  margin-bottom: 40px;
  background-color: #3d4045;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover {
  color: #ffca00;
}

.navbar .nav-link.active {
  color: #ffca00;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffca00' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #3d4045;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.navbar-collapse .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.navbar-collapse .sm-icons a img {
  width: 25px;
}

/* aboutus */

#about {
  color: #fff;
}

#about .organization-description {
  padding: 25px;
  max-width: 600px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
  margin-bottom: 20px;
  border: 2px solid #ffca00;
}

#about .founders {
  text-align: right;
  text-decoration: dashed;
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
  margin-bottom: 20px;
}

#about .founders .title {
  color: #ffca00;
  font-size: 28px;
  font-weight: 32px;
  font-weight: normal;
}

#about .founders p {
  margin: 0;
}

#about .mission {
  margin-bottom: 20px;
}

#about .mission h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
}
#about .mission p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

/* carousel */

#carousel {
  margin-bottom: 50px;
  padding: 20px 0 20px 0;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
  content: "";
  display: inline-block;
  border: solid #ffca00; /* arrow color */
  border-width: 0 5px 5px 0; /* arrow size */
  padding: 8px;
}

.carousel-control-prev-icon:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel-control-next-icon:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
/* Team */

#team {
  color: white;
  font-weight: 200;
}

#team h2 {
  color: white;
  font-weight: normal;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 2rem;
}

#team h3 {
  color: white;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 1.5rem;
}

#team .card {
  max-width: 300px;
  background: none;
  border: none;
  color: white;
  font-weight: 200;
}

#team .card img {
  margin-bottom: 1rem;
}

#team .card .info p {
  margin-bottom: 0;
}

#team .card .info .sm-icons-container {
  display: flex;
}

#team .card .info .sm-icons-container a img {
  margin: 10px 10px 0 0;
  width: 25px;
}

/* activity*/

#activity {
  display: flex;
  flex-direction: column;
  background-color: #3d4045;
  color: #fff;
  margin: 0;
  width: 100%;
  padding-bottom: 2.5rem;
}

#activity .container {
  display: flex;
  flex-direction: column;
}

#activity .container h2 {
  padding: 2rem 0;
  font-size: 36px;
  line-height: 43px;
  font-weight: 300;
}

#activity .container .list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
}

#activity .container .list .list-item {
  width: 400px;
  margin-right: 20px;
}
#activity .container .list .list-item .number {
  color: #ffca00;
  font-weight: normal;
}

/* Footer */

footer {
  color: #fff;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0 2rem 0;
}

footer .footer-logo {
  width: 200px;
}

footer span {
  color: #7f7f7f;
}

footer .sm-icons a img {
  padding-top: 10px;
  width: 25px;
}

footer .footer-row {
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff;
}

footer .footer-row-2 {
  padding-top: 30px;
  color: #7f7f7f;
}

footer .footer-row-2 .developer {
  text-align: end;
}

footer .footer-row-2 .developer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 922.98px) {
  #about .organization-description {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    margin-bottom: 20px;
    border: 2px solid #ffca00;
  }

  #about .founders {
    text-align: right;
    text-decoration: dashed;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 20px;
  }
}

/* This is a media query for screens smaller than 992px */

@media screen and (min-width: 992px) {
  header .navbar-brand img {
    margin: 30px 0;
    width: 300px;
  }
  .navbar-collapse {
    position: relative;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }

  .navbar-collapse .nav-item {
    height: auto;
    width: auto;
    font-size: 1em;
    color: inherit;
  }
}

/* This is a media query for screens smaller than 575.98px */

@media (max-width: 575.98px) {
  #about .organization-description {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    margin-bottom: 20px;
    border: 2px solid #ffca00;
  }

  #about .founders {
    text-align: right;
    text-decoration: dashed;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  #team .container {
    margin-right: 0;
    margin-left: 0;
  }

  #team .container .row {
    padding: 0;
  }

  nav ul {
    flex-direction: column;
  }

  #logo img {
    height: 30px;
  }

  #about {
    margin-left: 20px;
    margin-right: 20px;
  }

  .card {
    width: 100%;
  }

  #activity {
    margin: 0;
  }
  #activity .my-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
  }
}
